*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
	font-family: AGaramondPro-Bold;
	src: url('../../public/assets/fonts/AGaramondPro-Bold.otf')
}


@font-face {
	font-family: AGaramondPro-Regular;
	src: url('../../public/assets/fonts/AGaramondPro-Regular.otf')
}


:root{
  --blue: #14274A;

  --golden: #E0B973;

  --fontAdobeR: AGaramondPro-Regular;

  --fontAdobeB: AGaramondPro-Bold;

}



body, input, textarea, select, button{
  font: 400 1rem 'Montserrat', sans-serif;
  color: var(--blue);
}

button{
  cursor: pointer;
  border: 0;
  background-color: inherit;
}

a{
  color: inherit;
  text-decoration: none;
}

