.footer{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#fff;

  div:nth-child(2){
    width: 100%;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.footerTriangulo{
    
    border: solid 70px transparent;
    border-bottom: solid 60px var(--blue);
    border-top: none;
    background-color: #fff;
}
.footerContainer{
  width: 90%;
  height: 250px;
  background-color: var(--blue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footerLogo{
  display: flex;
  flex-direction: column; 
  font-size: 13px;
  img{
    width: 120px;
    height: 40px;
    margin-bottom: 25px;
  }
}
.footerMenu{
  font-weight: 500;
  font-size: 16px;
  ul{
    list-style: none;
    
    li{
      padding: 10px;

      a{
        transition: all ease-in-out 0.5s;
        border-bottom: 1px solid transparent;
        &:hover{
          border-color: #fff;
        }
      }
    }
  }
}
.footerSocial{
  display:inline-block;
  font-size: 14px;
  svg{
    width: 20px;
    height: 20px;
    margin: 5px 15px 10px 0;
    vertical-align: middle;
  }

  a{
    transition: all ease-in-out 0.5s;
    border-bottom: 1px solid transparent;

    &:hover{
      border-color: #fff;
    }
  }
 
}
.footerSearch{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  div{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    padding: 1px;
    
    input{
      width: 230px;
      font-size: 13px;
      padding: 10px;
      background-color: var(--blue);
      color: #fff;
      border: 1px  solid  var(--golden);
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;


      &::placeholder{
        color: #fff;
      }

    }

    button{
      width: 50px;
      background-color: var(--golden);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      font-size: 13px;
      font-weight: 600;

      transition: all ease-in-out 0.5s;

      &:hover{
        filter: brightness(0.90);
      }

    }

  }
}