
.ContentSectionTestimonials{
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 14px;

  transition: all ease-in-out 0.5s;
  h4{
    font: 35px var(--fontAdobeB), sans-serif;
    margin-bottom: 20px;
  }

  q{
    font-size: 16px;
     line-height: 0;
  }

  svg{
    margin: 20px 0;
    width: 25px;
    height: 25px;
    color: var(--golden);
    transition: filter 0.3s;

    &:first-child{
      margin-right: 10px;
    }

    &:hover {
      filter: brightness(0.95);
    }
  }

}